<launch>
  <arg name="sensor_filename"/>

  <node name="cartographer_assets_writer" pkg="cartographer_ros" required="true"
      type="cartographer_assets_writer" args="
          -configuration_directory $(find south-3d-collect)/configuration_files
          -configuration_basename $(arg configuration_basename)
          -sensor_filename $(arg sensor_filename)
          -bag_filenames $(arg bag_filenames)
          -pose_graph_filename $(arg pose_graph_filename)"
      output="screen">
  </node>
</launch>
